/*----------modal-----------*/
#myModal .modal-content{
    max-width: 570px;
    min-height: 592px;
    text-align: left;
    padding: 20px;
}

.modal-header{
    border: none;
}

.modal-header h4{
    margin-top: 20px;
    font-size: 32px;
    font-family: montserrat-bold;
    color: #162A4C;
}

.modal-header label{
    margin-top: 20px;
    font-size: 16px;
    font-family: montserrat-regular;
    color: #162A4C;
    line-height: 23px;
    font-weight: 500;
}

.input-contract{
    margin-top: 20px;
    width: 100%;
    height: 52px;
    background-color: #F5F5F8;
    border: none;
    font-family: montserrat-regular;
    font-size: 16px;
    padding-left: 56px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 12px;
    border-radius: 5px;
}

/*.input-select::-ms-expand {*/
    /*display: block;*/
/*}*/

.input-contract option{
    width: 100px;
}

.modal-header select{
    background-image: url("../images/round-dollar.png");
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*padding-left: 35px !important;*/
}

.icon-down{
    display: inline-block;
    float: right;
    margin-top: -33px;
    margin-right: 10px;
}

.location{
    background-image: url("../images/building.png");
}

.full-name{
    background-image: url("../images/circle-10.png");
}

.phone{
    background-image: url("../images/phone-2-2.png");
}

.email{
    background-image: url("../images/email-85.png");
}

.btn-contract{
    margin-top: 20px;
    width: 100%;
    height: 52px;
    background-color: #2BC875;
    border: none;
    font-family: montserrat-bold;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
    .modal-header h4{
        font-size: 24px !important;
    }
}

.close-modal img{
    display: block;
    margin-top: -24px;
    margin-right: -26px;
    height: 32px;
}

#myModal{
    z-index: 99999999;
}

.txt-map{
    display: block;
    font-size: 15px;
    font-family: montserrat-regular;
    color: #162A4C;
    margin-top: 20px;
}

.rm-decoration{
    color: #162A4C;
}